* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.div {
    height: 400px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 10px 5px 5px 5px;
    background-color: powderblue;
}

form {
    margin-top: 100px;
    margin-left: 88px;
}

#input_1 {
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
    border: none;
}

#input_2 {
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
    border: none;
}

#submit {
    padding: 10px 79px;
    border-radius: 30px;
    background-color: steelblue;
    border: none;
    font-size: 18px;
}

#submit:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.p {
     margin-bottom: 30px;
     font-size: 20px;
     margin-left: 60px;
    
}